<link rel="stylesheet" type="text/css" href="static/css/cosplayers.css">
<div ng-controller='users_controller'>

	<div class='content container'>
		<div class='cosplayers'>
			<div ng-repeat='cosplay in cosplayers' class='col-md-2 col-sm-3 col-xs-4 cosplayer'>
				<a href="http://www.instagram.com/{{cosplay.username}}" target='_blank'>
					<img src="{{cosplay.profile_picture}}" alt='cosplay made me instagram photo' ng-class="{cosplayers_hover: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
				</a>
			</div>
		</div>
	</div>
	
</div>